# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# vercel
.vercel

# scratch files
/sandbox

# PWA
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

# Cypress testing
/coverage
/cypress/screenshots
/cypress/videos
/cypress/example
cypress.env.json
/.nyc_output

# Partytown
/public/~partytown

# New Relic
newrelic_agent.log

# Typescript
tsconfig.tsbuildinfo