/* Hotjar CUSTOM styles to override default hotjar CSS */

._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-sf3vvt *,
._hj-widget-container ._hj-s3UIi__styles__globalStyles p,
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-1xfwja.css-1xfwja.css-1xfwja p,
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-zxqk8.css-zxqk8,
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-k8m2z1.css-k8m2z1.css-k8m2z1,
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp {
  font-family: 'Open Sans', 'Nunito', 'roboto', 'hotjar', 'sans-serif' !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles a,
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-k8m2z1.css-k8m2z1.css-k8m2z1 {
  text-decoration: underline !important;
  color: #000000 !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-sf3vvt.css-sf3vvt {
  width: 26rem !important;
  max-width: 100vw;
  border-radius: 1.25rem !important;
  padding: 1.5rem !important;
}

@media (min-width: 480px) {
  ._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-sf3vvt.css-sf3vvt {
    bottom: 1.5rem;
  }
}

/* Hotjar branding */
.css-vp5o9w {
  display: none !important;
}

/* Primary button styles */

._hj-widget-container ._hj-s3UIi__styles__globalStyles button[type='button'],
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp {
  background-color: #ffbfa4 !important;
  color: #000000 !important;
  font-weight: 500 !important;
  box-shadow: #ffbfa4 0px 0px 0px 1px inset !important;
  border: 1px solid #ffbfa4 !important;
  border-radius: 100rem !important;
  min-width: 5rem !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles button[type='button']:hover,
._hj-widget-container ._hj-s3UIi__styles__globalStyles button[type='button']:focus,
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp:hover,
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp.css-lhe9wp:focus {
  background-color: rgb(255, 203, 182) !important;
}

/* Consent decline button */
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8 {
  color: #000000 !important;
  background-color: unset !important;
  box-shadow: unset !important;
  font-weight: 400 !important;
}

._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8.css-zxqk8:hover:enabled {
  color: #000000 !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-1xfwja.css-1xfwja.css-1xfwja div,
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-vr45vp.css-vr45vp {
  margin-bottom: 0 !important;
}

/* Collapse popover button */
._hj-widget-container ._hj-s3UIi__styles__globalStyles .css-1ftaqxs.css-1ftaqxs {
  margin-bottom: 0 !important;
}

/* Input styles */

._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='text'],
._hj-widget-container ._hj-s3UIi__styles__globalStyles textarea:focus {
  border-color: rgba(0, 0, 0, 0.12) !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='text']:hover,
._hj-widget-container ._hj-s3UIi__styles__globalStyles textarea:focus:hover {
  border-color: #ffbfa4 !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='text']:focus,
._hj-widget-container ._hj-s3UIi__styles__globalStyles textarea:focus {
  outline: none !important;
  border-color: #ffbfa4 !important;
  box-shadow: none !important;
}

/* Scales styles */

._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='range' i] {
  appearance: none;
  background: rgba(0, 0, 0, 0.1) !important;
}

._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='range' i]::-webkit-slider-thumb,
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-fi5477.css-fi5477.css-fi5477::-webkit-slider-thumb,
._hj-widget-container ._hj-s3UIi__styles__globalStyles input[type='range' i]::-moz-range-thumb,
._hj-widget-container
  ._hj-s3UIi__styles__globalStyles
  .css-fi5477.css-fi5477.css-fi5477::-moz-range-thumb {
  appearance: none;
  background-color: #ff976a !important;
  outline: none !important;
}
