html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul > li::marker {
  color: #ea0050;
}

ul,
ol {
  padding-left: 2rem;
}

ul > li,
ol > li {
  padding-left: 0.5rem;
  margin-bottom: 0.325rem;
}

ol > li::marker {
  color: #ea0050;
  font-weight: bold;
}
