html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Merriweather,
    Open Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a span {
  color: inherit !important;
}

* {
  box-sizing: border-box;
}

ul > li::marker {
  color: #ff976a !important;
}

ul,
ol {
  padding-left: 1.75rem;
}

h1 > b,
h2 > b,
h3 > b,
h1 > span,
h2 > span,
h3 > span {
  font-weight: 400;
  color: #000 !important;
}

p > b,
span > b {
  font-weight: 500;
}

p:only-child,
ol:only-child,
ul:only-child {
  margin-top: 0;
  margin-bottom: 0;
}

p:first-of-type,
ol:first-of-type,
ul:first-of-type {
  margin-top: 0;
}

p:last-of-type,
ol:last-of-type,
li:last-of-type {
  margin-bottom: 0;
}

ul > li,
ol > li {
  padding-left: 0.5rem;
  margin-bottom: 0.325rem;
}

ol > li::marker {
  color: #ff976a;
  font-weight: bold;
}

iframe {
  border: none;
}
