name: Cypress release tests

on:
  push:
    branches: [develop, dependabot/**]

jobs:
  # vercel will redeploy the develop/staging app on creating a PR to main
  # wait for new deployment to complete before running tests
  wait-for-vercel-deployment:
    name: Wait for vercel deployment
    runs-on: ubuntu-latest
    outputs:
      preview_url: ${{ steps.waitForVercelDeployment.outputs.url }}
    steps:
      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
        id: waitForVercelDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 1000
          check_interval: 5

  cypress-run:
    name: Cypress e2e tests
    needs: wait-for-vercel-deployment
    runs-on: ubuntu-latest
    strategy:
      # when one test fails, DO NOT cancel the other
      # containers, because this will kill Cypress processes
      # leaving Cypress Cloud hanging ...
      # https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
      matrix:
        # run 3 copies of the current job in parallel
        # this will automatically load balance
        containers: [1, 2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run cypress
        uses: cypress-io/github-action@v5.0.9
        with:
          browser: chrome
          spec: cypress/**/*.cy.tsx
          headed: false
          record: true # send results to cypress dashboard
          parallel: true
        env:
          NEXT_PUBLIC_ROLLBAR_ENV: CI
          NEXT_PUBLIC_VERCEL_GIT_COMMIT_SHA: ci
          NEXT_PUBLIC_FIREBASE_API_KEY: ${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}
          NEXT_PUBLIC_ROLLBAR_CLIENT_TOKEN: ${{ secrets.NEXT_PUBLIC_ROLLBAR_CLIENT_TOKEN }}
          NEXT_PUBLIC_STORYBLOK_TOKEN: ${{ secrets.NEXT_PUBLIC_STORYBLOK_TOKEN }}
          NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ${{ secrets.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN }}
          NEXT_PUBLIC_FIREBASE_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_PROJECT_ID }}
          NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ${{ secrets.NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET }}
          NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}}
          NEXT_PUBLIC_FIREBASE_APP_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_APP_ID }}
          NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID }}
          CYPRESS_BASE_URL: ${{ needs.wait-for-vercel-deployment.outputs.preview_url }}
          CYPRESS_mail_slurp_api_key: ${{secrets.CYPRESS_MAIL_SLURP_API_KEY}}
          CYPRESS_inbox_id: ${{secrets.CYPRESS_INBOX_ID}}
          CYPRESS_reset_pwd_content_email: ${{secrets.CYPRESS_RESET_PWD_CONTENT_EMAIL}}
          CYPRESS_bumble_partner_admin_email: ${{secrets.CYPRESS_BUMBLE_ADMIN_EMAIL}}
          CYPRESS_bumble_partner_admin_password: ${{secrets.CYPRESS_BUMBLE_ADMIN_PASSWORD}}
          CYPRESS_badoo_partner_admin_email: ${{secrets.CYPRESS_BADOO_ADMIN_EMAIL}}
          CYPRESS_badoo_partner_admin_password: ${{secrets.CYPRESS_BADOO_ADMIN_PASSWORD}}
          CYPRESS_super_admin_email: ${{secrets.CYPRESS_SUPER_ADMIN_EMAIL}}
          CYPRESS_super_admin_password: ${{secrets.CYPRESS_SUPER_ADMIN_PASSWORD}}
          CYPRESS_public_email: ${{secrets.CYPRESS_PUBLIC_EMAIL}}
          CYPRESS_public_password: ${{secrets.CYPRESS_PUBLIC_PASSWORD}}
          CYPRESS_public_name: ${{secrets.CYPRESS_PUBLIC_NAME}}
          CYPRESS_api_url: ${{secrets.CYPRESS_BLOOM_BACKEND_API_URL}}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
