name: Lighthouse Performance

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  # vercel will deploy a preview branch and domain for this PR
  # wait for new deployment to complete before running lighthouse
  # note we don't actually test on this PRs preview branch, but can
  # assume the develop branch has also completed deploying
  wait-for-vercel-deployment:
    name: Wait for vercel deployment
    runs-on: ubuntu-latest
    steps:
      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
        id: waitForVercelDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 1000
          check_interval: 5

  lighthouse-desktop:
    runs-on: ubuntu-latest
    needs: wait-for-vercel-deployment
    steps:
      - uses: actions/checkout@v3
      - name: Audit URLs using Lighthouse
        continue-on-error: true
        uses: treosh/lighthouse-ci-action@v10
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        with:
          urls: | # only test public pages, auth not supported
            https://bloom-frontend-git-develop-chaynhq.vercel.app
            https://bloom-frontend-git-develop-chaynhq.vercel.app/activities
            https://bloom-frontend-git-develop-chaynhq.vercel.app/courses
            https://bloom-frontend-git-develop-chaynhq.vercel.app/meet-the-team
            https://bloom-frontend-git-develop-chaynhq.vercel.app/auth/register
            https://bloom-frontend-git-develop-chaynhq.vercel.app/welcome/bumble
            https://bloom-frontend-git-develop-chaynhq.vercel.app/partnership/bumble
          budgetPath: ./lighthouse_desktop_budget.json # test performance budgets
          uploadArtifacts: true # save results as an action artifacts
          configPath: '.github/configs/lighthouse-desktop-rc.yml' # set lighthouse config
      - name: Display report
        uses: jackywithawhitedog/lighthouse-viewer-action@v1
        with:
          resultsPath: ${{ steps.lighthouse.outputs.resultsPath }}
          lighthouseOutcome: ${{ steps.lighthouse.outcome }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: desktop-lighthouse-report
          path: ${{ steps.lighthouse.outputs.resultsPath }}

  lighthouse-mobile:
    runs-on: ubuntu-latest
    needs: wait-for-vercel-deployment
    steps:
      - uses: actions/checkout@v3
      - name: Audit URLs using Lighthouse
        continue-on-error: true
        uses: treosh/lighthouse-ci-action@v10
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        with:
          urls: | # only test public pages, auth not supported
            https://bloom-frontend-git-develop-chaynhq.vercel.app
            https://bloom-frontend-git-develop-chaynhq.vercel.app/activities
            https://bloom-frontend-git-develop-chaynhq.vercel.app/courses
            https://bloom-frontend-git-develop-chaynhq.vercel.app/meet-the-team
            https://bloom-frontend-git-develop-chaynhq.vercel.app/auth/register
            https://bloom-frontend-git-develop-chaynhq.vercel.app/welcome/bumble
            https://bloom-frontend-git-develop-chaynhq.vercel.app/partnership/bumble
          budgetPath: ./lighthouse_budget.json # test performance budgets
          uploadArtifacts: true # save results as an action artifacts
          configPath: '.github/configs/lighthouse-rc.yml' # set lighthouse config
      - name: Display report
        uses: jackywithawhitedog/lighthouse-viewer-action@v1
        with:
          resultsPath: ${{ steps.lighthouse.outputs.resultsPath }}
          lighthouseOutcome: ${{ steps.lighthouse.outcome }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mobile-lighthouse-report
          path: ${{ steps.lighthouse.outputs.resultsPath }}
