name: Lighthouse Performance

on:
  push:
    branches: [develop]

jobs:
  # vercel will deploy a preview branch and domain for this PR
  # wait for new deployment to complete before running lighthouse
  # note we don't actually test on this PRs preview branch, but can
  # assume the develop branch has also completed deploying
  wait-for-vercel-deployment:
    name: Wait for vercel deployment
    runs-on: ubuntu-24.04
    permissions:
      deployments: read
      statuses: read
    steps:
      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.2
        id: waitForVercelDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 1000
          check_interval: 5

  lighthouse-desktop:
    runs-on: ubuntu-24.04
    needs: wait-for-vercel-deployment
    permissions:
      contents: read
      checks: write
      actions: read
    steps:
      - uses: actions/checkout@v6
      - name: Audit URLs using Lighthouse
        id: lighthouseDesktop
        continue-on-error: true
        uses: treosh/lighthouse-ci-action@v12
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        with:
          urls: | # only test public pages, auth not supported
            https://bloom-frontend-git-develop-chaynhq.vercel.app
            https://bloom-frontend-git-develop-chaynhq.vercel.app/activities
            https://bloom-frontend-git-develop-chaynhq.vercel.app/courses
            https://bloom-frontend-git-develop-chaynhq.vercel.app/meet-the-team
            https://bloom-frontend-git-develop-chaynhq.vercel.app/auth/register
            https://bloom-frontend-git-develop-chaynhq.vercel.app/welcome/bumble
          budgetPath: ./lighthouse_desktop_budget.json # test performance budgets
          configPath: '.github/configs/lighthouse-desktop-rc.yml' # set lighthouse config
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: desktop-lighthouse-report
          path: ${{ steps.lighthouseDesktop.outputs.resultsPath }}

  lighthouse-mobile:
    runs-on: ubuntu-24.04
    needs: wait-for-vercel-deployment
    permissions:
      contents: read
      checks: write
      actions: read
    steps:
      - uses: actions/checkout@v6
      - name: Audit URLs using Lighthouse
        id: lighthouseMobile
        continue-on-error: true
        uses: treosh/lighthouse-ci-action@v12
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        with:
          urls: | # only test public pages, auth not supported
            https://bloom-frontend-git-develop-chaynhq.vercel.app
            https://bloom-frontend-git-develop-chaynhq.vercel.app/activities
            https://bloom-frontend-git-develop-chaynhq.vercel.app/courses
            https://bloom-frontend-git-develop-chaynhq.vercel.app/meet-the-team
            https://bloom-frontend-git-develop-chaynhq.vercel.app/auth/register
            https://bloom-frontend-git-develop-chaynhq.vercel.app/welcome/bumble
          budgetPath: ./lighthouse_budget.json # test performance budgets
          configPath: '.github/configs/lighthouse-rc.yml' # set lighthouse config
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: mobile-lighthouse-report
          path: ${{ steps.lighthouseMobile.outputs.resultsPath }}
