name: New Relic Release Tracking

on:
  push:
    branches: [main]

jobs:
  newrelic:
    runs-on: ubuntu-24.04
    name: New Relic Release Tracking
    permissions:
      contents: read
    steps:
      # This step builds a var with the release tag value to use later
      - name: Set Release Version from Tag
        run: echo "COMMIT_REF=${{ github.ref_name }}" >> $GITHUB_ENV
      # This step creates a new Change Tracking Marker for the APM entity
      - name: New Relic Application Deployment Marker
        uses: newrelic/deployment-marker-action@v2.6.2
        with:
          apiKey: ${{ secrets.NEW_RELIC_API_KEY }}
          region: 'EU'
          guid: ${{ secrets.NEW_RELIC_DEPLOYMENT_ENTITY_GUID_App }}
          version: '${{ env.COMMIT_REF }}'
          user: '${{ github.actor }}'
      # This step creates a new Change Tracking Marker for the Browser entity
      - name: New Relic Browser Deployment Marker
        uses: newrelic/deployment-marker-action@v2.6.2
        with:
          apiKey: ${{ secrets.NEW_RELIC_API_KEY }}
          region: 'EU'
          guid: ${{ secrets.NEW_RELIC_DEPLOYMENT_ENTITY_GUID_Browser }}
          version: '${{ env.COMMIT_REF }}'
          user: '${{ github.actor }}'
